---
import { getCollection, getEntry } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PostCard from '../../components/PostCard.astro';
import { isVisible } from '../../lib/posts';

export async function getStaticPaths() {
  const authors = await getCollection('authors');
  return authors.map((author) => ({ params: { author: author.id } }));
}

const { author: authorId } = Astro.params;
const author = await getEntry('authors', authorId!);
const posts = (await getCollection('posts',
  (post) => isVisible(post) && post.data.author.id === authorId
)).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<Base title={author?.data.name}>
  <p class="page-heading">posts by <strong>{author?.data.name}</strong></p>
  {posts.length === 0
    ? <p>Nothing yet.</p>
    : posts.map((post) => <PostCard post={post} />)}
</Base>
