---
import Base from '../layouts/Base.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
import { isVisible } from '../lib/posts';

const posts = (await getCollection('posts', isVisible)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---
<Base>
  <p class="page-heading">All posts</p>
  {posts.map((post) => <PostCard post={post} />)}
</Base>
